In [22]:
import pandas as pd
import json
from sqlalchemy import create_engine
from pandas.io.json import json_normalize

## Extracting the Data into Pandas

In [7]:
# Import 2006-2012 NYC School demographic data

demo_file = "Resources/2006_-_2012_School_Demographics_and_Accountability_Snapshot.csv"
demo_data_df = pd.read_csv(demo_file)
demo_data_df.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [34]:
# Import SAT data for NYC Schools

SAT_file = "Resources/2012_SAT_Results.csv"
SAT_data_df = pd.read_csv(SAT_file)
SAT_data_df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [51]:
# Import JSON AP test data (use json.load, and specifying the data area of the JSON, 
# to account for the "s" values in dataset causing a value error
# [ValueError: Mixing dicts with non-Series may lead to ambiguous ordering])

AP_json = json.load(open('Resources/NYC_20112012_AP_Scores.json'))
AP_data_df = pd.DataFrame(AP_json["data"])
AP_data_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,69C2C876-AE49-46A5-AAF8-73840CC26710,1,1361368881,696969,1361368881,696969,None,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,s,s,s
1,2,EC0CE265-B893-4954-9538-0DA07A82CE64,2,1361368881,696969,1361368881,696969,None,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,37,53,21
2,3,2F09C9C4-162E-4724-848E-58E4F0F5336A,3,1361368881,696969,1361368881,696969,None,01M450,EAST SIDE COMMUNITY SCHOOL,12,12,s
3,4,F3733921-5271-453D-AB93-58B6CFE3C87D,4,1361368881,696969,1361368881,696969,None,01M458,FORSYTH SATELLITE ACADEMY,s,s,s
4,5,3FEE1B34-A9F1-4EE4-8931-5C07EA34184F,5,1361368881,696969,1361368881,696969,None,01M509,MARTA VALLE HIGH SCHOOL,14,15,s

In [55]:
# Re-establish column as DBN
AP_data_df.rename(columns={8: 'DBN'}, inplace=True)
AP_data_df

,0,1,2,3,4,5,6,7,DBN,9,10,11,12
0,1,69C2C876-AE49-46A5-AAF8-73840CC26710,1,1361368881,696969,1361368881,696969,None,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,s,s,s
1,2,EC0CE265-B893-4954-9538-0DA07A82CE64,2,1361368881,696969,1361368881,696969,None,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,37,53,21
2,3,2F09C9C4-162E-4724-848E-58E4F0F5336A,3,1361368881,696969,1361368881,696969,None,01M450,EAST SIDE COMMUNITY SCHOOL,12,12,s
3,4,F3733921-5271-453D-AB93-58B6CFE3C87D,4,1361368881,696969,1361368881,696969,None,01M458,FORSYTH SATELLITE ACADEMY,s,s,s
4,5,3FEE1B34-A9F1-4EE4-8931-5C07EA34184F,5,1361368881,696969,1361368881,696969,None,01M509,MARTA VALLE HIGH SCHOOL,14,15,s
5,6,1F88B945-4BC4-49E1-8FD0-A82F3BE3835C,6,1361368881,696969,1361368881,696969,None,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,50,60,54
6,7,FE18B649-55D8-4D10-A69E-F884112696A5,7,1361368881,696969,1361368881,696969,None,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",306,587,323
7,8,8CB2A202-2B18-460B-ACFF-9AC66FF585F3,8,1361368881,696969,1361368881,696969,None,01M650,CASCADES HIGH SCHOOL,s,s,s
8,9,93FA9A49-504F-41BA-89A4-3D36C7D9732A,9,1361368881,696969,1361368881,696969,None,01M696,BARD HIGH SCHOOL EARLY COLLEGE,s,s,s
9,10,2284D1E5-5019-4F8D-855C-325949EEEE84,10,1361368881,696969,1361368881,696969,None,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,s,s,s
10,11,7198F1FD-79EF-4B07-AC94-4FDB08DCD20D,11,1361368881,696969,1361368881,696969,None,02M288,FOOD AND FINANCE HIGH SCHOOL,41,41,s
11,12,252CD8A8-DFFA-49C3-8116-3E8F5A3576B4,12,1361368881,696969,1361368881,696969,None,02M294,ESSEX STREET ACADEMY,s,s,s
12,13,8774AE44-0C35-4728-8BD6-FCEBB4DF9CF9,13,1361368881,696969,1361368881,696969,None,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,s,s,s
13,14,4A39DD31-7867-42E5-8458-AA70DD79B317,14,1361368881,696969,1361368881,696969,None,02M298,PACE HIGH SCHOOL,s,s,s
14,15,23EE685A-063A-403E-88C3-D1E81FC7A378,15,1361368881,696969,1361368881,696969,None,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,135,135,8
15,16,10D4C544-A9C3-4BE0-A1D5-2604CD615242,16,1361368881,696969,1361368881,696969,None,02M303,"FACING HISTORY SCHOOL, THE",32,32,s
16,17,9BC62C41-A30B-44FD-B6F4-7B77ECA4C22A,17,1361368881,696969,1361368881,696969,None,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",31,40,20
17,18,336BE4F8-21A3-4185-BC06-EE54B7C45A64,18,1361368881,696969,1361368881,696969,None,02M308,LOWER MANHATTAN ARTS ACADEMY,11,11,s
18,19,67740B9C-ACE6-4BD9-8D6E-C7BAA6E1918D,19,1361368881,696969,1361368881,696969,None,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",s,s,s
19,20,AF76AAF8-62DA-4D31-A0DC-89181CDEE49F,20,1361368881,696969,1361368881,696969,None,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,28,28,11
20,21,FDFB9201-33C9-4B61-8CA6-9C9BAB200E49,21,1361368881,696969,1361368881,696969,None,02M374,GRAMERCY ARTS HIGH SCHOOL,s,s,s
21,22,E085077E-2CE7-48C0-8E7C-591B5B634894,22,1361368881,696969,1361368881,696969,None,02M376,NYC ISCHOOL,80,105,20
22,23,FD87FE09-3F12-499A-A38E-4DAE3ACD2B51,23,1361368881,696969,1361368881,696969,None,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s
23,24,54471963-A691-472C-8E6B-E6A1951690FA,24,1361368881,696969,1361368881,696969,None,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s
24,25,0FED9980-B28F-4468-8739-4C34705A8E77,25,1361368881,696969,1361368881,696969,None,02M394,EMMA LAZARUS HIGH SCHOOL,s,s,s
25,26,C5562699-C38C-4E22-A265-090BF8633684,26,1361368881,696969,1361368881,696969,None,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s
26,27,4FF6AC7F-1259-4ECC-91B2-7F7A7B4DF6A2,27,1361368881,696969,1361368881,696969,None,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,224,334,215
27,28,A5C0BC28-8546-40CC-9783-F7DCD9C7DAD0,28,1361368881,696969,1361368881,696969,None,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,s,s,s
28,29,62632C3C-2731-4590-871A-62529356CF3E,29,1361368881,696969,1361368881,696969,None,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,50,56,28
29,30,8AF9888F-3596-4483-BD2B-4DDB57F06BE6,30,1361368881,696969,1361368881,696969,None,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,108,161,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,449,1EAB0379-9D8E-4F9F-BA61-D6E951415DD9,449,1361368882,696969,1361368882,696969,None,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,s,s,s
449,450,D409CE5F-E4BA-41FF-A8A6-21C7BECAFA29,450,1361368882,696969,1361368882,696969,None,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,66,74,26
450,451,DAD239F5-28EB-4734-89A8-5CC48658D22F,451,1361368882,696969,1361368882,696969,None,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,31,48,9
451,452,58DE8365-562B-4D03-96E5-EDBF70EE22B1,452,1361368882,696969,1361368882,696969,None,31R080,THE MICHAEL J. PETRIDES SCHOOL,174,313,45
452,453,0CDB7968-B07C-479F-BFF7-CADD29723BAA,453,1361368882,696969,1361368882,696969,None,31R440,NEW DORP HIGH SCHOOL,143,185,76
453,454,461868B9-2204-4051-BA6E-E9A518350C46,454,1361368882,696969,1361368882,696969,None,31R445,PORT RICHMOND HIGH SCHOOL,210,340,86
454,455,F52B13EF-EC9A-48D1-A224-8A74101B029E,455,1361368882,696969,1361368882,696969,None,31R450,CURTIS HIGH SCHOOL,426,510,113
455,456,258AEC06-D485-4206-BD97-D1B2E30F21F4,456,1361368882,696969,1361368882,696969,None,31R455,TOTTENVILLE HIGH SCHOOL,424,861,335
456,457,37CB4E0F-8294-430B-A06D-B0006C3B521C,457,1361368882,696969,1361368882,696969,None,31R460,SUSAN E. WAGNER HIGH SCHOOL,373,589,221
457,458,1A80CE6F-3F2D-4A18-AD59-CF2A3A950A2B,458,1361368882,696969,1361368882,696969,None,31R470,CONCORD HIGH SCHOOL,s,s,s
458,459,9820E94D-0FA2-419D-BA1F-CC864F063EDC,459,1361368882,696969,1361368882,696969,None,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,s,s,s
459,460,00D13166-B335-401D-8057-2B409198DCBC,460,1361368882,696969,1361368882,696969,None,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,595,1098,977
460,461,D9CF0C7B-F709-4513-879D-710448B2CED9,461,1361368882,696969,1361368882,696969,None,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,s,s,s
461,462,EF9ED5AB-7710-4B11-B81F-DA76F0247650,462,1361368882,696969,1361368882,696969,None,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,27,47,6
462,463,50A08EBA-4805-4DCD-81D3-61C60D5AE468,463,1361368882,696969,1361368882,696969,None,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEâ€“BUSHWICK,19,19,s
463,464,E93FC319-9088-47D7-9F5E-3DE468631D63,464,1361368882,696969,1361368882,696969,None,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,s,s,s
464,465,3F908697-1004-4622-B2D2-90DBF44349CE,465,1361368882,696969,1361368882,696969,None,32K552,ACADEMY OF URBAN PLANNING,36,43,20
465,466,4C345B55-C46D-4069-A45D-CD8F54D4A214,466,1361368882,696969,1361368882,696969,None,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,24,43,16
466,467,555BF775-CE16-4D9F-87C1-2D27B429FD8D,467,1361368882,696969,1361368882,696969,None,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,39,44,19
467,468,5DBB2BE3-5366-4DF5-8A95-D452AB9100B4,468,1361368882,696969,1361368882,696969,None,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,s,s,s
468,469,2BBC8E29-0B70-4BA3-A146-5773CC3B13CC,469,1361368882,696969,1361368882,696969,None,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s
469,470,C517FCAE-DA2D-41CE-9D13-71581842C56F,470,1361368882,696969,1361368882,696969,None,75M035,P.S. 035,s,s,s
470,471,7F44F55F-AB0C-4F05-B6D9-9413DCDA79EE,471,1361368882,696969,1361368882,696969,None,75Q256,P.S. Q256,s,s,s
471,472,768E3118-9804-4005-ADBE-B348B40AF22C,472,1361368882,696969,1361368882,696969,None,75Q811,P.S. Q811,s,s,s
472,473,2F917A94-EEF1-4836-81D4-2BE0C9AB12D2,473,1361368882,696969,1361368882,696969,None,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s
473,474,6CDA3A36-015E-442A-8274-200A30B1BA14,474,1361368882,696969,1361368882,696969,None,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s
474,475,B4FBA581-B224-46A7-A2F1-D3BAF2356F9F,475,1361368882,696969,1361368882,696969,None,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s
475,476,B0752F66-39BA-4AD6-9149-02AD99987DF5,476,1361368882,696969,1361368882,696969,None,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s
476,477,A4E2DA26-AF57-49B3-AF24-B2F42A836F7D,477,1361368882,696969,1361368882,696969,None,79Q950,GED PLUS s CITYWIDE,s,s,s
477,478,3954AAD2-FCBC-45D6-8331-D9CECA9020A9,478,1361368882,696969,1361368882,696969,None,79X490,PHOENIX ACADEMY,s,s,s

In [32]:
# Filter demographic dataframe by specific columns

new_demo_df = demo_data_df[["DBN", "Name", "schoolyear", "total_enrollment", "grade12", "black_num", "black_per", "hispanic_num", "hispanic_per", "white_num", "white_per" ]].copy()
new_demo_df

,DBN,Name,schoolyear,total_enrollment,grade12,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,281,NaN,74,26.3,189,67.3,5,1.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,243,NaN,68,28.0,153,63.0,4,1.6
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,261,NaN,77,29.5,157,60.2,7,2.7
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,252,NaN,75,29.8,149,59.1,7,2.8
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,208,NaN,67,32.2,118,56.7,6,2.9
5,01M015,P.S. 015 ROBERTO CLEMENTE,20102011,203,NaN,75,36.9,110,54.2,4,2.0
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,189,,63,33.3,109,57.7,4,2.1
7,01M019,P.S. 019 ASHER LEVY,20052006,402,NaN,103,25.6,207,51.5,39,9.7
8,01M019,P.S. 019 ASHER LEVY,20062007,312,NaN,70,22.4,172,55.1,19,6.1
9,01M019,P.S. 019 ASHER LEVY,20072008,338,NaN,72,21.3,186,55.0,22,6.5
10,01M019,P.S. 019 ASHER LEVY,20082009,325,NaN,83,25.5,149,45.8,32,9.8
11,01M019,P.S. 019 ASHER LEVY,20092010,321,NaN,87,27.1,137,42.7,35,10.9
12,01M019,P.S. 019 ASHER LEVY,20102011,328,NaN,89,27.1,155,47.3,31,9.5
13,01M019,P.S. 019 ASHER LEVY,20112012,328,,81,24.7,158,48.2,28,8.5
14,01M020,PS 020 ANNA SILVER,20052006,835,NaN,43,5.1,503,60.2,10,1.2
15,01M020,PS 020 ANNA SILVER,20062007,655,NaN,36,5.5,414,63.2,10,1.5
16,01M020,PS 020 ANNA SILVER,20072008,610,NaN,46,7.5,397,65.1,13,2.1
17,01M020,PS 020 ANNA SILVER,20082009,593,NaN,55,9.3,376,63.4,9,1.5
18,01M020,PS 020 ANNA SILVER,20092010,594,NaN,59,9.9,355,59.8,12,2.0
19,01M020,PS 020 ANNA SILVER,20102011,625,NaN,51,8.2,374,59.8,17,2.7
20,01M020,PS 020 ANNA SILVER,20112012,626,,55,8.8,357,57.0,16,2.6
21,01M034,PS 034 FRANKLIN D ROOSEVELT,20052006,438,NaN,88,20.1,313,71.5,6,1.4
22,01M034,PS 034 FRANKLIN D ROOSEVELT,20062007,397,NaN,87,21.9,289,72.8,6,1.5
23,01M034,PS 034 FRANKLIN D ROOSEVELT,20072008,420,NaN,88,21.0,301,71.7,9,2.1
24,01M034,PS 034 FRANKLIN D ROOSEVELT,20082009,424,NaN,87,20.5,295,69.6,9,2.1
25,01M034,PS 034 FRANKLIN D ROOSEVELT,20092010,410,NaN,86,21.0,280,68.3,6,1.5
26,01M034,PS 034 FRANKLIN D ROOSEVELT,20102011,393,NaN,81,20.6,270,68.7,10,2.5
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,401,,90,22.4,275,68.6,8,2.0
28,01M056,JHS 056 CORLEARS,20052006,173,NaN,22,12.7,66,38.2,4,2.3
29,01M063,PS 063 WILLIAM MCKINLEY,20052006,240,NaN,40,16.7,153,63.8,12,5.0
...,...,...,...,...,...,...,...,...,...,...,...
10045,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20102011,420,82,122,29.0,288,68.6,4,1.0
10046,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20112012,434,106,123,28.3,298,68.7,8,1.8
10047,32K552,ACADEMY OF URBAN PLANNING,20052006,363,NaN,112,30.9,239,65.8,3,0.8
10048,32K552,ACADEMY OF URBAN PLANNING,20062007,458,69,160,34.9,278,60.7,4,0.9
10049,32K552,ACADEMY OF URBAN PLANNING,20072008,484,98,165,34.1,297,61.4,7,1.4
10050,32K552,ACADEMY OF URBAN PLANNING,20082009,461,98,168,36.4,283,61.4,6,1.3
10051,32K552,ACADEMY OF URBAN PLANNING,20092010,469,81,163,34.8,292,62.3,8,1.7
10052,32K552,ACADEMY OF URBAN PLANNING,20102011,471,98,146,31.0,310,65.8,8,1.7
10053,32K552,ACADEMY OF URBAN PLANNING,20112012,398,90,105,26.4,280,70.4,4,1.0
10054,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20052006,237,NaN,53,22.4,174,73.4,1,0.4
10055,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20062007,255,25,62,24.3,184,72.2,0,0.0
10056,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20072008,266,21,58,21.8,200,75.2,0,0.0
10057,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20082009,257,43,52,20.2,201,78.2,0,0.0
10058,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20092010,251,49,46,18.3,201,80.1,0,0.0
10059,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20102011,238,39,42,17.6,189,79.4,1,0.4
10060,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20112012,263,35,34,12.9,209,79.5,4,1.5
10061,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20052006,300,NaN,54,18.0,231,77.0,1,0.3
10062,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20062007,417,87,72,17.3,332,79.6,2,0.5
10063,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20072008,458,81,76,16.6,373,81.4,2,0.4
10064,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20082009,489,89,78,16.0,400,81.8,4,0.8
10065,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20092010,481,85,81,16.8,391,81.3,2,0.4
10066,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20102011,500,144,92,18.4,402,80.4,1,0.2
10067,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20112012,462,120,98,21.2,357,77.3,0,0.0
10068,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20052006,357,NaN,132,37.0,219,61.3,4,1.1
10069,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20062007,370,1,160,43.2,202,54.6,6,1.6
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20072008,355,NaN,151,42.5,198,55.8,5,1.4
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20082009,383,NaN,132,34.5,245,64.0,2,0.5
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20092010,395,NaN,146,37.0,242,61.3,3,0.8
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20102011,420,NaN,166,39.5,242,57.6,8,1.9
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,382,,137,35.9,235,61.5,7,1.8

In [132]:
# Remove rows from SAT and AP dataframes that BOTH contain all "s" across for the school year

## If we can figure out what "s" means, that might be helpful in establishing the effect of 
## this operation

Merged_scores = pd.merge(SAT_data_df, AP_data_df, on='DBN')
Merged_scores.drop_duplicates(inplace = True)
Merged_scores.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,0,1,2,3,4,5,6,7,9,10,11,12
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1,69C2C876-AE49-46A5-AAF8-73840CC26710,1,1361368881,696969,1361368881,696969,None,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,s,s,s
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,2,EC0CE265-B893-4954-9538-0DA07A82CE64,2,1361368881,696969,1361368881,696969,None,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,37,53,21
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,3,2F09C9C4-162E-4724-848E-58E4F0F5336A,3,1361368881,696969,1361368881,696969,None,EAST SIDE COMMUNITY SCHOOL,12,12,s
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,4,F3733921-5271-453D-AB93-58B6CFE3C87D,4,1361368881,696969,1361368881,696969,None,FORSYTH SATELLITE ACADEMY,s,s,s
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,5,3FEE1B34-A9F1-4EE4-8931-5C07EA34184F,5,1361368881,696969,1361368881,696969,None,MARTA VALLE HIGH SCHOOL,14,15,s

In [113]:
Merged_scores.drop(Merged_scores[(Merged_scores['Num of SAT Test Takers'] == 's') & (Merged_scores[10] == 's') \
                              & (Merged_scores[11] == 's') & (Merged_scores[12] == 's')], inplace = True)
#Merged_scores_final = Merged_scores.merge(Merged_scores_extract, on=['DBN'], 
#                   how='outer', indicator=True)
#rows_to_drop = []



#Merged_scores_final = Merged_scores_final[Merged_scores_final['_merge'] == 'left_only']
Merged_scores_final.head()

KeyError: "labels ['DBN' 'SCHOOL NAME' 'Num of SAT Test Takers'\n 'SAT Critical Reading Avg. Score' 'SAT Math Avg. Score'\n 'SAT Writing Avg. Score'] not contained in axis"

SyntaxError: invalid syntax (<ipython-input-103-be4c5840b907>, line 4)

In [82]:
# Check if DBN is a unique identifier (boolean answer should read true)
## https://stackoverflow.com/questions/51489393/determine-if-columns-of-a-pandas-dataframe-uniquely-identify-the-rows
## Come back here later and write in some kind of if-then for the ETL process

print(AP_data_df.set_index(['DBN',9]).index.is_unique)
print(SAT_data_df.set_index(['DBN','SCHOOL NAME']).index.is_unique)

True
True