In [49]:
import pandas as pd
import json
from pandas.io.json import json_normalize


from sqlalchemy import create_engine

## Extracting the Data into Pandas

In [50]:
# Import 2006-2012 NYC School demographic data

demo_file = "Resources/2006_-_2012_School_Demographics_and_Accountability_Snapshot.csv"
demo_data_df = pd.read_csv(demo_file)
demo_data_df.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [51]:
# Import SAT data for NYC Schools

SAT_file = "Resources/2012_SAT_Results.csv"
SAT_data_df = pd.read_csv(SAT_file)
SAT_data_df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [52]:
# Import JSON AP test data (use json.load, and specifying the data area of the JSON,
# to account for the "s" values in dataset causing a value error
# [ValueError: Mixing dicts with non-Series may lead to ambiguous ordering])

AP_json = json.load(open('Resources/NYC_20112012_AP_Scores.json'))
AP_data_df = pd.DataFrame(AP_json["data"])
AP_data_df.head()

# # Filter columns
AP_data_df = AP_data_df[[8, 10, 11, 12]]

# # Rename columns
AP_data_df.rename(columns={8: 'DBN', 10:'Num of AP Test Takers', 11:'Num of AP Total Exams Taken',\
12:'Num of AP Exams Passed'}, inplace=True)

AP_data_df.head()

,DBN,Num of AP Test Takers,Num of AP Total Exams Taken,Num of AP Exams Passed
0,01M292,s,s,s
1,01M448,37,53,21
2,01M450,12,12,s
3,01M458,s,s,s
4,01M509,14,15,s

## Transformation of the data

In [53]:
#Filtering down the Demographic data 

new_demo_df = demo_data_df[["DBN", "Name", "schoolyear", "total_enrollment", "grade9", "grade10", "grade11", "grade12", 
                            "black_num", "black_per", "hispanic_num", "hispanic_per", "white_num", "white_per",
                           "male_num", "male_per", "female_num" , "female_per"]].copy()
new_demo_df.head()

,DBN,Name,schoolyear,total_enrollment,grade9,grade10,grade11,grade12,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,281,NaN,NaN,NaN,NaN,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,243,NaN,NaN,NaN,NaN,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,261,NaN,NaN,NaN,NaN,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,252,NaN,NaN,NaN,NaN,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,208,NaN,NaN,NaN,NaN,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [54]:
#Filter the Demographic data down to the 2011-2012 school year


filtered_demo_df = new_demo_df.loc[new_demo_df['schoolyear'] == 20112012]
filtered_demo_df#.head()

,DBN,Name,schoolyear,total_enrollment,grade9,grade10,grade11,grade12,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,189,,,,,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,328,,,,,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,626,,,,,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,401,,,,,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,176,,,,,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9
42,01M064,PS 064 ROBERT SIMON,20112012,324,,,,,76,23.5,193,59.6,24,7.4,184.0,56.8,140.0,43.2
49,01M110,PS 110 FLORENCE NIGHTINGALE,20112012,440,,,,,58,13.2,194,44.1,124,28.2,219.0,49.8,221.0,50.2
56,01M134,PS 134 HENRIETTA SZOLD,20112012,369,,,,,74,20.1,181,49.1,8,2.2,177.0,48.0,192.0,52.0
63,01M137,PS 137 JOHN L BERNSTEIN,20112012,230,,,,,57,24.8,123,53.5,7,3.0,111.0,48.3,119.0,51.7
70,01M140,PS 140 NATHAN STRAUS,20112012,407,,,,,66,16.2,317,77.9,7,1.7,216.0,53.1,191.0,46.9
77,01M142,PS 142 AMALIA CASTRO,20112012,433,,,,,58,13.4,321,74.1,12,2.8,208.0,48.0,225.0,52.0
84,01M184,PS 184M SHUANG WEN,20112012,690,,,,,29,4.2,40,5.8,58,8.4,344.0,49.9,346.0,50.1
91,01M188,PS 188 THE ISLAND SCHOOL,20112012,388,,,,,104,26.8,255,65.7,19,4.9,211.0,54.4,177.0,45.6
98,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20112012,422,98,79,80,50,123,29.1,227,53.8,7,1.7,259.0,61.4,163.0,38.6
105,01M301,TECHNOLOGY ARTS AND SCIENCES STUDIO,20112012,170,,,,,41,24.1,99,58.2,11,6.5,93.0,54.7,77.0,45.3
112,01M315,THE EAST VILLAGE COMMUNITY SCHOOL,20112012,244,,,,,30,12.3,69,28.3,101,41.4,144.0,59.0,100.0,41.0
120,01M332,UNIVERSITY NEIGHBORHOOD MIDDLE SCHOOL,20112012,115,,,,,26,22.6,86,74.8,0,0.0,72.0,62.6,43.0,37.4
126,01M345,COLLABORATIVE ACADEMY OF SCIENCE,20112012,245,,,,,56,22.9,151,61.6,6,2.4,137.0,55.9,108.0,44.1
133,01M361,CHILDREN'S WORKSHOP SCHOOL,20112012,247,,,,,32,13.0,74,30.0,100,40.5,101.0,40.9,146.0,59.1
140,01M363,NEIGHBORHOOD SCHOOL,20112012,315,,,,,53,16.8,90,28.6,128,40.6,155.0,49.2,160.0,50.8
147,01M364,EARTH SCHOOL,20112012,336,,,,,32,9.5,118,35.1,125,37.2,174.0,51.8,162.0,48.2
151,01M378,SCHOOL FOR GLOBAL LEADERS,20112012,271,,,,,49,18.1,188,69.4,10,3.7,136.0,50.2,135.0,49.8
158,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20112012,394,109,97,93,95,89,22.6,181,45.9,9,2.3,226.0,57.4,168.0,42.6
165,01M450,EAST SIDE COMMUNITY HIGH SCHOOL,20112012,598,101,93,77,86,143,23.9,331,55.4,62,10.4,327.0,54.7,271.0,45.3
167,01M458,SATELLITE ACADEMY HS @ FORSYTHE STREET,20112012,224,131,49,44,,77,34.4,133,59.4,8,3.6,97.0,43.3,127.0,56.7
174,01M509,MARTA VALLE SECONDARY SCHOOL,20112012,367,143,100,51,73,116,31.6,209,56.9,6,1.6,170.0,46.3,197.0,53.7
181,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,20112012,562,,261,209,92,29,5.2,50,8.9,5,0.9,302.0,53.7,260.0,46.3
188,01M539,NEW EXPLORATIONS INTO SCIENCE TECH AND MATH,20112012,1613,117,123,147,157,189,11.7,229,14.2,725,44.9,794.0,49.2,819.0,50.8
195,01M650,CASCADES HIGH SCHOOL,20112012,218,5,89,59,65,99,45.4,108,49.5,9,4.1,87.0,39.9,131.0,60.1
202,01M696,BARD HIGH SCHOOL EARLY COLLEGE,20112012,617,184,162,128,143,93,15.1,112,18.2,307,49.8,193.0,31.3,424.0,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880,31R600,RALPH R. MCKEE CAREER AND TECHNICAL HIGH SCHOOL,20112012,675,188,205,122,160,272,40.3,224,33.2,146,21.6,453.0,67.1,222.0,32.9
9887,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,20112012,1104,296,296,287,225,12,1.1,59,5.3,677,61.3,629.0,57.0,475.0,43.0
9890,31R861,STATEN ISLAND SCHOOL OF CIVIC LEADERSHIP,20112012,715,,,,,151,21.1,269,37.6,213,29.8,374.0,52.3,341.0,47.7
9897,32K045,PS 045 HORACE E GREENE,20112012,815,,,,,460,56.4,330,40.5,8,1.0,418.0,51.3,397.0,48.7
9904,32K075,PS 075 MAYDA CORTIELLA,20112012,652,,,,,120,18.4,505,77.5,13,2.0,318.0,48.8,334.0,51.2
9911,32K086,PS 086 THE IRVINGTON,20112012,514,,,,,14,2.7,465,90.5,18,3.5,258.0,50.2,256.0,49.8
9918,32K106,PS 106 EDWARD EVERETT HALE,20112012,627,,,,,97,15.5,497,79.3,16,2.6,321.0,51.2,306.0,48.8
9925,32K116,PS 116 ELIZABETH L FARRELL,20112012,523,,,,,27,5.2,473,90.4,10,1.9,260.0,49.7,263.0,50.3
9932,32K123,PS 123 SUYDAM,20112012,890,,,,,51,5.7,800,89.9,12,1.3,462.0,51.9,428.0,48.1
9939,32K145,PS 145 ANDREW JACKSON,20112012,873,,,,,30,3.4,831,95.2,4,0.5,444.0,50.9,429.0,49.1
9946,32K151,PS 151 LYNDON B JOHNSON,20112012,443,,,,,111,25.1,323,72.9,9,2.0,219.0,49.4,224.0,50.6
9953,32K162,JHS 162 THE WILLOUGHBY,20112012,531,,,,,35,6.6,461,86.8,8,1.5,262.0,49.3,269.0,50.7
9954,32K168,BROOKLYN SCHOOL FOR MATH AND RESEARCH,20112012,43,43,,,,21,48.8,17,39.5,0,0.0,26.0,60.5,17.0,39.5
9961,32K274,PS 274 KOSCIUSKO,20112012,631,,,,,96,15.2,504,79.9,5,0.8,328.0,52.0,303.0,48.0
9968,32K291,JHS 291 ROLAND HAYES,20112012,643,,,,,133,20.7,501,77.9,2,0.3,345.0,53.7,298.0,46.3
9975,32K296,JHS 296 THE HALSEY,20112012,412,,,,,173,42.0,229,55.6,3,0.7,202.0,49.0,210.0,51.0
9982,32K299,PS 299 THOMAS WARREN FIELD,20112012,446,,,,,237,53.1,192,43.0,9,2.0,207.0,46.4,239.0,53.6
9989,32K347,IS 347 SCHOOL OF HUMANITIES,20112012,501,,,,,56,11.2,433,86.4,8,1.6,271.0,54.1,230.0,45.9
9996,32K349,I.S. 349 MATH SCIENCE & TECH,20112012,467,,,,,58,12.4,398,85.2,4,0.9,244.0,52.2,223.0,47.8
10003,32K376,PS 376,20112012,640,,,,,54,8.4,570,89.1,8,1.2,307.0,48.0,333.0,52.0
10010,32K377,PS 377 ALEJANDRINA B DEGAUTIER,20112012,696,,,,,120,17.2,554,79.6,12,1.7,365.0,52.4,331.0,47.6
10017,32K383,JHS 383 PHILLIPPA SCHUYLER,20112012,844,,,,,527,62.4,245,29.0,17,2.0,373.0,44.2,471.0,55.8
10024,32K384,PS 384 FRANCES E CARTER,20112012,745,,,,,153,20.5,579,77.7,4,0.5,365.0,49.0,380.0,51.0
10030,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20112012,362,96,86,73,107,76,21.0,279,77.1,3,0.8,181.0,50.0,181.0,50.0
10039,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEBUSHWICK,20112012,606,131,122,155,198,56,9.2,534,88.1,4,0.7,316.0,52.1,290.0,47.9
10046,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20112012,434,118,119,91,106,123,28.3,298,68.7,8,1.8,210.0,48.4,224.0,51.6
10053,32K552,ACADEMY OF URBAN PLANNING,20112012,398,93,104,111,90,105,26.4,280,70.4,4,1.0,217.0,54.5,181.0,45.5
10060,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20112012,263,37,34,34,35,34,12.9,209,79.5,4,1.5,137.0,52.1,126.0,47.9
10067,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20112012,462,118,120,104,120,98,21.2,357,77.3,0,0.0,246.0,53.2,216.0,46.8
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,382,,382,,,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [55]:
#Insert the schoolyear into the SAT dataframe
#The user is asked to confirm the school year or manually correct it.


SAT_file_date = int(SAT_file[10:14])

SAT_append = SAT_file_date - 1

SAT_schoolyear = str(SAT_append) + str(SAT_file_date)

user_schoolyear = input(f"Is this school year correct(Y/N)? {SAT_schoolyear} ")

if user_schoolyear.lower() == "y":

    SAT_data_df['School Year']= SAT_schoolyear
    SAT_data_df.head()
else:
    user_correction = input("Please input the schoolyear (YYYYYYYY) ")
    SAT_data_df['School Year']= user_correction
    SAT_data_df.head()
    
SAT_data_df.head()

Is this school year correct(Y/N)? 20112012 Y

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,School Year
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,20112012
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,20112012
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,20112012
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,20112012
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,20112012

In [56]:
# Check if DBN is a unique identifier

if (SAT_data_df.set_index(['DBN']).index.is_unique) == True:
    print("Your SAT DBN columns are unique, proceed!")

else: 
    print("Your SAT DBN columns appear to have a duplicate entry, be aware!")
    
if (AP_data_df.set_index(['DBN']).index.is_unique) == True:
    print("Your AP DBN columns are unique, proceed!")
    
else: 
    print("Your AP DBN columns appear to have a duplicate entry, be aware!")

Your SAT DBN columns are unique, proceed!
Your AP DBN columns are unique, proceed!

### Use SQLalchemy to connect to the SQL database

In [57]:
# Connect to local databases
# Remember to enter your local database user and password in the rds_connection_string

import pymysql
pymysql.install_as_MySQLdb()


# SQL_Table = 'nycschool_db'
rds_connection_string = "user:password@127.0.0.1/nycschool_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [58]:
# Check for table names

engine.table_names()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'user'@'localhost' (using password: YES)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
# Import the SAT scores dataframe into SQL

SAT_data_df.to_sql(name='sat_2012', con=engine, if_exists='replace', index=False)

In [ ]:
# Import the AP scores dataframe into SQL

AP_data_df.to_sql(name='ap_2012', con=engine, if_exists='replace', index=False)

In [ ]:
# Import the demographic dataframe into SQL

filtered_demo_df.to_sql(name='demographic_data', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('select * from sat_2012', con=engine).head()